* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
}

::selection {
    background-color: #fcafeb;
}

body {
    background-image: url(../images/backcover.svg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: 26em -1px;
}

/*-------------------------------------------------------*/
/*---------------------navBar----------------------------*/
/*-------------------------------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
}

.nav-items {
    font-size: 1.4em;
    display: flex;
    gap: 2em;
}

.nav-item:hover {
    cursor: pointer;
    color: #0018f5;
}

.signin-btn {
    border: none;
    cursor: pointer;
    background: linear-gradient(to right,#775dc0,#f288db);
    color: #ffffff;
    font-size: 1em;
    padding: 0.2em 0.6em;
    border-radius: 1em;
}

/*-------------------------------------------------------*/
/*-------------------intro-section-----------------------*/
/*-------------------------------------------------------*/

.intro-section {
    display: flex;
    height: 100vh;
}

.left-section {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4em;
    gap: 3em;
}

.left-section h1 {
    margin-top: -1.5em;
    font-size: 7em;
    color: #3f49a1;
}

.left-section h4 {
    font-weight: normal;
    width: 18em;
    line-height: 1.8;
    color: #3a3c46;
}

.learn-more-btn {
    border: none;
    cursor: pointer;
    width: 8em;
    background: linear-gradient(to right,#775dc0,#f288db);
    color: #ffffff;
    font-size: 2em;
    padding: 0.4em 0.6em;
    border-radius: 1em;
}

.imgs-div {
    position: relative;
}

.imgs-div img:last-child {
    width: 41em;
}

.vector-dot {
    position: absolute;
    bottom: 30%;
    left: 7%;
}

/*-------------------------------------------------------*/
/*------------------Media-Query--------------------------*/
/*-------------------------------------------------------*/

@media screen and (max-width: 1486px) {
    .left-section h1 {
        font-size: 7vw;
    }
    
    .imgs-div img:last-child {
        width: 46vw;
    }

    .vector-img {
        position: absolute;
        bottom: 20%;
        left: -1%;
    }
}

@media screen and (max-width: 1340px) {
    .vector-dot {
        left: 9%;
    }
}

@media screen and (max-width: 974px) {
    .nav-items {
        gap: 0em;
        width: 50vw;
        justify-content: space-between;
    }
}

@media screen and (max-width: 808px) {
    body {
        background-size: 100% 100%;
        background-position:0 -20em;
    }
    
    nav {
        flex-direction: column;
        gap: 1.4em;
    }

    .nav-items {
        flex-direction: column;
        align-items: center;
        gap: 0.8em;
    }

    .intro-section {
        flex-wrap: wrap;
        height: auto;
    }

    .imgs-div , .left-section {
        height: auto;
        width: 100vw;
        align-items: center;
        gap: 10vw;
        justify-content: center;
        padding-left: 0;
    }

    .left-section h1 {
        margin-top: 0em;
        font-size: 16vw;
    }

    .left-section h4 {
        font-size: 3vw;
        width: 18em;
    }

    .learn-more-btn {
        font-size: 5vw;
    }

    .imgs-div img:last-child {
        display: block;
        margin: 2em auto;
    }
}